@import 'responsive';

.breadcrumbs {
    position: relative;
    &:after {
        display: none;
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        width: 50px;
        height: 16px;
        transform: translateY(-50%) rotate(-180.00deg);
        background: linear-gradient(90.00deg, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.75) 50%,rgb(255, 255, 255) 100%);
        @include media(sm) {
            display: block;
        }     
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        @include media(sm) {
            margin-bottom: 16px;
        }
    }
    &__list {
        display: flex;
        overflow-y: hidden;
        overflow-x: auto; 
        li {
            display: block;
            cursor: default;
            font-weight: 500;
            white-space: nowrap;

            &:not(:last-child) {
                position: relative;

                &:after {
                    position: absolute;
                    content: '';
                    z-index: 3;
                    top: 50%;
                    right: -10px;
                    width: 6px;
                    height: 6px;
                    content: ' ';
                    border-right: 1px solid #494B49;
                    border-bottom: 1px solid #494B49;
                    pointer-events: none;
                    transform: translateY(-50%) rotate(-45deg);
                    transition: 0.3s transform, 0.3s top;
                }
            }

            a {
                color: #494B49;
                transition: .3s color;
            }

            &:not(:last-child) {
                margin-right: 10px;
            }

            &:not(:first-child) {
                margin-left: 10px;
            }
        }

        a,
        li {
            font-size: 12px;
            line-height: 1;
            color: #494B49;
        }
    }
    &__elem {
        font-size: 12px;
        color: #494B49;
        white-space: nowrap;
        padding-left: 30px; 
    }
}
