@import 'responsive';

.converter {
	&__holder {
		position: relative;
		border: 1px solid #71B219;
		border-bottom: 8px solid #71B219;
		border-radius: 10px;
		padding: 30px;
		margin-bottom: 30px;
		@include media(md) {
			padding: 20px;
		}
		@include media(sm) {
			padding: 16px;
		}
	}
	&__row {
		display: flex;
		gap: 16px;
		@include media(md) {
			flex-direction: column;
			position: relative;
		}
	}
	&__col {
		position: relative;
		flex: 1;
	}
	&__text {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		font-size: 14px;
		color: #4F4F4F;
		padding: 11px 16px;
		padding-bottom: 12px;
		font-weight: 600;
	}
	&__inner {
		border-radius: 6px;
		background-color: #F0F1F2;
		border: 1px solid #D3D3D4;
		padding: 16px;
		margin-bottom: 30px;
		@include media(md) {
			margin-bottom: 20px;
		}
		@include media(sm) {
			margin-bottom: 12px;
		}
	}
	&__btn {
		background-image: url(../../src/img/icons/data-transfer.svg);
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		flex-basis: 40px;
		background-color: #fff;
		border: 1px solid rgb(211, 211, 212);
		border-radius: 6px;
		padding: 0;
		width: 40px;
		height: 40px;
		@include media(md) {
			position: absolute;
			z-index: 2;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__input {
		display: block;
		max-width: 100%;
		width: 100%;
		font-size: 16px;
		border: 1px solid rgb(211, 211, 212);
		border-radius: 6px;
		padding: 9px 15px;
		font-family: OpenSans, sans-serif;
		@include media(sm) {
			font-size: 14px;
			padding: 11px 15px;
		}
	}
	&__subtitle {
		font-size: 21px;
		line-height: 1.35;
		text-align: center;
		padding-bottom: 15px;
		font-weight: 600;
	}
	&__info {
		display: flex;
		flex-wrap: wrap;
		gap: 10px 0;
		margin: 0 -25px;
		padding-bottom: 30px;
		@include media(md) {
			margin: 0 -15px;
		}
		@include media(smdx) {
			margin: 0;
		}
	}
	&__box {
		width: calc(50% - 50px);
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #D3D3D4;
		padding-bottom: 4px;
		margin: 0 25px;
		@include media(md) {
			width: calc(50% - 30px);
			margin: 0 15px;
		}
		@include media(smdx) {
			width: 100%;
			margin: 0;
		}
	}
	&__elem {
		font-size: 14px;
		line-height: 1.35;
		color: rgba(0, 0, 0, 0.7);
	}
	&__number {
		font-size: 16px;
		line-height: 1.35;
		color: rgb(0, 0, 0);
		font-weight: 600;
		@include media(sm) {
			font-size: 14px;
		}
	}
	&__desc {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 6px;
	}
	&__add {
		font-size: 11px;
		border-radius: 3px;
		color: #fff;
		background: rgba(143, 135, 131, 0.48);
		padding: 2px 7px;
		text-transform: uppercase;
	}
	&__risk {
		font-size: 12px;
		line-height: 1.1;
		color: rgba(0, 0, 0, 0.75);
		padding-left: 6px;
	}
}