@import 'responsive';

.table {
	&__col {
		width: 100%;
		tr {
			&:nth-child(odd) {
				background-color: #F9F9F9;
			}
			td {
				font-size: 14px;
				padding: 10px 5px;
				padding-bottom: 11px;
				font-weight: 600;
			}
		}
	}
}